beautifulsoup4==4.12.3
openai==0.28.0
pandas==2.2.3
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.2.2
spacy==3.8.2
streamlit==1.39.0
urllib3==2.2.3
xfeat==0.1.1
numpy==1.23.5
--prefer-binary

