beautifulsoup4==4.12.3
fugashi==1.4.0
ginza==5.2.0
ginza-transformers==0.4.2
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
ja-ginza==5.2.0
ja-ginza-electra==5.2.0
joblib==1.4.2
lightgbm==4.5.0
ml-metrics==0.1.4
numpy==1.23.5
openai==0.28.0
optuna==4.1.0
pandas==2.2.3
pyarrow==17.0.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
scikit-learn==1.2.2
scipy==1.9.3
spacy==3.8.2
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.1.9
streamlit==1.39.0
toml==0.10.2
xfeat @ git+https://github.com/pfnet-research/xfeat.git@b199c3cdacef408b3d2b1d920b22c243cfe0667c


